<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.0.4" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="4.2.1" targetFramework="net452" />
</packages>